@font-face {
    font-family: 'a';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    opacity: 0.7;
    z-index: 9999;
    transition: 0.5s ease;
  }
  .loadingImg {
    position: relative;
    display: block;
    top: 50vh;
    transform: translateY(-50%);
    padding: 0;
    margin: 0 auto;
  }
body{
    background-color:rgb(60, 57, 57);
    color:white;
    font-family:'a' ;
}
.currentweather{
    background-color: rgb(47, 40, 40);
    color:white;
    font-family: 'a';
}
.onehours,.fivehours,.dc,.twhours{
    background-color: rgb(77, 72, 72);
}
p{
    color:rgb(171, 215, 224)
}
h2{
    color:rgb(171, 215, 224)
}
a{
    text-decoration: none;
    color:rgb(18, 237, 76)
}
.dc{
    display: grid;
    place-items: center;
}
.wrapper {
    display: grid;
    place-items: center;
    min-height: 100dvh;
}
#tg{
   width:50cm;
   color:black;
}

